<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42F43FAE1B83322B00C4885F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A935FDC312D815EA00DCFC3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C58B9F12D71A7F00F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C58CE512D71C3000F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C58D1E12D71D9600F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C59EE912D7FAC200F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C59EF612D7FB5500F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A00D12D8007500F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A06512D8022400F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A1BD12D8035200F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A59912D8071300F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A5A212D8072A00F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A60412D8085700F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A67412D80C3800F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A69012D80ED200F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A69912D80EDA00F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A6A212D80EE300F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A6AB12D80EED00F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A6B412D80EF500F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5A6BD12D80EFD00F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5F7FE12D707FD00F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5F81B12D7086100F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C5F82812D708A700F98E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
